
form {
	display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
}

label {
	font-size: .8rem;
	margin: .5rem .5rem .5rem 1rem;
	width: calc(45% - 1.5rem);
}

input[type="text"], input[type="password"] {
	margin: .5rem 1rem .5rem .5rem;
	width: calc(55% - 1.5rem);
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: 1px solid #5E0DFB;
}

.form-btns {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
	width: 100%;
}

@media screen and (min-width: 360px) { 
	
	h1 {
		font-size: 1.4rem;
	}
	
	label {
		font-size: 1rem;
	}
	
	.btn {
		font-size: .8rem;
	}
} 

@media screen and (min-width: 1024px) { 
	
	h1 {
		font-size: 1.6rem;
	}
	
	form {
		margin-left: auto;
		margin-right: auto;
	}
	
	form, .form-btns {
		margin-top: 2rem;
	}
	
	label {
		width: calc(25% - 2rem);
	}
	
	input[type="text"], input[type="password"] {
		width: calc(25% - 1.5rem);
	}
	
	label {
		font-size: 1rem;
	}
	
	.btn {
		font-size: .9rem;
	}
} 







